# Disable directory listing
Options -Indexes

# Enable RewriteEngine
RewriteEngine On

# Allow access to service12.php but deny everything else in /api/config
RewriteCond %{REQUEST_URI} !/api/service12\.php$
RewriteRule ^api/config/ - [F,L]